# The .vscode folder contains launch configuration and tasks configured
.vscode

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache

# Environments
.env
.venv

# PDfs files
*.pdf
*.PDF

# Distribution / packaging
build/
dist/

# PyInstaller
*.manifest
*.spec

# Web Driver Manager
.wdm

# asdf versions tools
.tool-versions
